@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/slkscr-webfont.eot');
    src: url('../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/slkscr-webfont.woff') format('woff'),
         url('../fonts/slkscr-webfont.ttf') format('truetype'),
         url('../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.rowContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;  
}
.navbar-inverse {
  background-color: #001D5C !important;  
}
.navbar-inverse-collapse {
  background-color: #001D5C !important;  
}
.active > a {
  background-color: #001440 !important;
}

.navbar {
  height: 50px;  
}
.navbar-brand {
  height: 100% !important;
  vertical-align: top;
  padding-top: 0px !important;
}
.navbar-brand > img {
  height: 100% !important;
  width: 80px;
  height: 50px !important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

html > body {
    height: 100%;
	  /*background: url(../images/background.png) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;*/
	  background-color: #0A0D23;
}

.SilkScreenFont {
	font-family: 'silkscreennormal';
	color: #fac619;
	text-shadow: -2px -2px 0px #b78c01;
}
.scene {
  padding-top: 75px;
	display: none;
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


#DEFAULT {
	display: block;
	height: 100%;
	width: 100%;
}

input {
  line-height: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.row {
  text-align: center !important;
}

button {
	color: #000000 !important;
	padding-left: 0px;
	padding-right: 0px;
	padding: 10px 20px;
	line-height: 0px;
	background-color: #FFD100 !important;
	border: 1px solid #000000 !important;
	-moz-box-shadow:
		0px 1px 3px rgba(161,161,161,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(161,161,161,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(161,161,161,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(122,122,122,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
  font-family: 'exoregular' !important;

}
button:disabled {
	color: #3b383b;
	padding-left: 0px;
	padding-right: 0px;
	padding: 10px 20px;
	background-color: #47402d !important;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(0,0,0,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

.panel {
  margin-left: auto;
  margin-right: auto;
  border: none !important;
  color: white;
  font-family: 'exoregular' !important;
  background: #001D5C; 
}
.panel-heading {
  text-align: center;
  border: none !important;
  font-family: 'exoregular' !important;
  background: #001440; /* Old browsers */
}

.gradientBG1 {
	display: inline-block;
	background: -moz-linear-gradient(top,  rgba(71,77,145,0.5) 0%, rgba(0,4,130,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,77,145,0.5)), color-stop(100%,rgba(0,4,130,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(71,77,145,0.5) 0%,rgba(0,4,130,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(71,77,145,0.5) 0%,rgba(0,4,130,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(71,77,145,0.5) 0%,rgba(0,4,130,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(71,77,145,0.5) 0%,rgba(0,4,130,0.5) 100%); /* W3C */

}
.VCenterContainer {
	height: 100%;
	width:100%;
 	display: table !important; 
}

.VCenter {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

/* LOGIN SCENE */

#LOGIN .panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
#LOGIN .panel-heading > h3 {
  font-family: 'exoregular' !important;
  
}

/* SCENE MAIN MENU */


#MAINMENU .gradientBG1 {
	padding: 20px 20px 20px 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

#MAINMENU ul { 
	margin-left: auto;
	margin-right: auto;
}

#MAINMENU ul > li {
	padding-top: 30px;
	padding-bottom: 30px;
}
#MAINMENU ul > li > input[type="button"] {
	width: 400px;
	font-size: 20px;
}

#MainMenu_Settings {
	width: 100%;
	display:none;
}
#MainMenu_Settings > .Window {
	width: 400px;
}

/* SCENE EDITOR */

#EDITOR {
	font-family: 'exoregular' !important;
	width: 100%;
}

#EDITOR .EditorRow {
   margin-top: 50px;
}
#EDITOR .rowContainer>:first-child {
  margin-top: 0px !important;  
}

#EDITOR .EditorRow > div > .row > div {
  height: 75px !important;
  line-height: 75px;
}

#EDITOR .hea {
  
  font-size: 40px;
  color: rgb(88,159,255);
  background-color: rgba(0,39,100,0.8);
}
#EDITOR .dat {
  
  font-size: 40px;
  background-color: rgba(23,65,132,0.8);
  color: rgb(220,235,255);
}


/* FLAG BROWSER SCENE */

#FLAGBROWSER input[type="button"] {
	width: 100%;
	height: 100px;
}

#FlagBrowser_Items {
    height: 100%;
    width: 100%;
    text-align: center;
    
}
.thmbwidth {
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 300px;
  display: inline-block;
  width: 256px;
  color: black;
  
}
.thmbwidth > div {
  display: block !important;  
  width: -webkit-calc(100% - 160px);
  width: -moz-calc(100% - 160px);
  width: -o-calc(100% - 160px);
  width: calc(100% - 160px);
  width: 100%;
}
.thmbwidth > div > h4 {
  height: 20px;
  width: 100%;  
  text-overflow: ellipsis;
  overflow: hidden;
}
.thmbwidth > div > p {
  vertical-align: middle;
}
.alignBottom {
  
}
